@import "tailwindcss";

@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}

*,
*::before,
*::after {
  transition-property: background-color, color, border-color, fill, stroke;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}
