@import "tailwindcss";

@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}

[data-theme='light'] img {
  transition: .1s all ease-in-out;
  filter: invert(1) hue-rotate(180deg);
}

[data-theme='dark'] img {
  transition: .1s all ease-in-out;
}